node_modules/
dist/
build/
*.log
.DS_Store
.claude/

# server
server/.env
server/data/*.sqlite
server/data/*.sqlite-wal
server/data/*.sqlite-shm

# client
client/.env
client/.env.local

# Local Netlify folder
.netlify
